footer {
  display: flex;
  flex-direction: column;
}

.disclaimer {
  font-size: var(--text-sm);
  color: var(--color-text-secondary);
}

.disclaimerWrapper {
  padding: var(--space-5);
}

.disclaimer a {
  color: rgb(216, 0, 255);
}

.tagline {
  color: rgb(216, 0, 255);
  text-align: center;
  margin: var(--space-6);
  letter-spacing: 0.1em;
  line-height: 2.5rem;
  font-size: var(--text-lg);
}

@media (min-width: 500px) {
  .disclaimer {
    max-width: 450px;
  }

  .tagline {
    font-size: var(--text-xl);
  }
}