#disclaimer, #disclaimer a {
  color: var(--color-text-secondary);
}

#disclaimer {
  padding: 1rem;
  font-size: var(--text-sm);
}

@media (min-width: 500px) {
  #disclaimer {
    max-width: 450px;
  }
}