.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--space-5);
}

.hero h2 {
  font-size: var(--text-lg);
  line-height: 2rem;
}

.hero p {
  color: var(--color-text-secondary);
  font-size: var(--text-sm);
  width: 9rem;
  line-height: 1.3rem;
  padding-top: var(--space-5);
}

.textAccent {
  color: var(--color-text-accent);
}

.heroButtons {
  margin: var(--space-1);
  padding: 0.5rem;
  font-size: var(--text-md);
}

.heroButtonsWrapper {
  display: flex;
  margin-top: var(--space-3);
}

.ourSchedule {
  background-color: rgb(8, 10, 50);
}

@media (min-width: 768px) {
  .hero {
    min-height: 30rem;
  }

  .hero p {
    width: 15rem;
    font-size: var(--text-md);
    line-height: 1.5rem;
  }

  .hero h2 {
    font-size: var(--text-xl);
    line-height: 3rem;
  }
}

@media (min-width: 992px) {  
  .hero p {
    width: 15rem;
    font-size: var(--text-lg);
  }

  .hero h2 {
    font-size: 2.5rem;
  }
}