.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    height: 5rem;
}

.discordButton {
    padding: var(--space-1) var(--space-3);
    margin: auto 0 auto auto;
    display: flex;
    font-size: var(--text-xs);
    height: 45px;
}

.title {
    padding: var(--space-1) var(--space-1) var(--space-1) 0;
}

.title h1 {
    font-size: var(--text-lg);
}

.title p {
    color: var(--color-text-secondary);
    padding-top: var(--space-1);
    font-size: var(--text-xs);
    max-width: 9rem;
}

@media (min-width: 768px) {
    .title h1 {
        font-size: var(--text-xl);
    }
    
    .title p {
        font-size: var(--text-md);
        max-width: 25rem;
    }
    
    .discordButton {
        font-size: var(--text-lg);
        margin: auto var(--space-3) auto auto;
    }

    .logo {
        height: 10rem;
    }
}