nav {
    width: 100%;
    display: flex;
    color: white;
}

#logo {
    height: 10rem;
}

#discordButton img {
    height: var(--icon-md);
    background-color: var(--color-text-accent);
}

#discordButton {
    background-color: var(--color-text-accent);
    color: white;
    padding: var(--space-1) var(--space-3);
    margin: auto 0 auto auto;
    display: flex;
    clip-path: var(--clipped-button);
    cursor: pointer;
    text-decoration: none;
    font-size: var(--text-xs);
}

#title {
    align-content: center;
    padding: var(--space-5);
}

#title h1 {
    font-size: var(--text-lg);
}

#title p {
    color: var(--color-text-secondary);
    padding-top: var(--space-1);
    font-size: var(--text-xs);
}

@media (min-width: 762px) {
    #title h1 {
        font-size: var(--text-xl);
    }
    
    #title p {
        font-size: var(--text-md);
    }
    
    #discordButton {
        font-size: var(--text-lg);
        margin: auto var(--space-3) auto auto;
    }
}