.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playerNameAndAvatar {
  display: flex;
  align-items: center;
}

.playerAvatar {
  height: var(--avatar-sm);
  border-radius: 50%;
  padding: 0 var(--space-3);
}

.playerRole {
  color: var(--color-text-secondary);
  padding-left: var(--space-1);
}

.characterAvatars {
  height: var(--avatar-md);
  padding: 0 var(--space-2);
}

@media (min-width: 992px) {
  .player {
    padding: 0.1rem;
  }

  .playerAvatar {
    height: var(--avatar-md);
    padding: 0 var(--space-3);
  }
  
  .playerRole {
    padding-left: var(--space-3); 
  }
}