.sectionCard {
  clip-path: var(--clipped-button);
  background-color: rgb(8, 5, 16);
  margin: 1rem 1rem 0 1rem;
  width: 100%;
  border: var(--section-border);
  padding: var(--space-1) 0;
}

.sectionCard h3 {
  padding: 1rem 0 1.5rem 1rem;
}

.sectionsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media(min-width: 768px) {
  .sectionCard {
    border-width: 5px;
    margin: var(--space-3);
  }
  
  .sectionCard h3 {
    font-size: var(--text-lg);
  }
}

@media(min-width: 992px) {
  .sectionCard {
    padding: var(--space-3);
    width: 40%;
  }
}
