*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: var(--color-bg);
    color: white;
}

body {
    font-family: Arial, sans-serif;
}

.cutButton {
    clip-path: var(--clipped-button);
    cursor: pointer;
    color: white;
    text-decoration: none;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.CtaButton {
    background-color: var(--color-text-accent);
}