:root {
    --color-bg: rgb(0, 0, 5);
    --color-bg-section: rgb(8, 5, 16);
    --color-text-primary: #ffffff;
    --color-text-secondary: rgb(170, 170, 190);
    --color-text-accent: rgb(98, 10, 176);

    --border-sm: 1px solid rgb(170, 170, 190);    
    --border-md: 2px solid rgb(170, 170, 190);    

    --radius-sm: 6px;
    --radius-md: 12px;
    --radius-lg: 18px;

    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-md: 1rem;
    --text-lg: 1.25rem;
    --text-xl: 2rem;

    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 16px;
    --space-5: 24px;
    --space-6: 32px;
    --space-7: 48px;
    --space-8: 64px;

    --gradient-section-border: linear-gradient(
        -45deg,
        rgb(139, 92, 246), 
        rgb(42, 27, 74)
    );

    --clipped-button: polygon(
        12px 0,
        100% 0,
        100% calc(100% - 12px),
        calc(100% - 12px) 100%,
        0 100%,
        0 12px
    );

    --icon-sm: 16px;
    --icon-md: 24px;
    --icon-lg: 32px;

    --avatar-sm: 32px;
    --avatar-md: 48px;
    --avatar-lg: 64px;
}